---
import { Image } from "astro:assets";
import astroImage from "../images/AdobeStock_625692265resize.jpg";
import SectionTitle from "../components/SectionTitle.astro";
import Features from "../components/sections/Features.astro";
import FirsetView from "../components/sections/FirsetView.astro";
import Layout from "../layouts/Layout.astro";
import LowerFv from "../components/LowerFv.astro";
const title="Over40coについて"
const desc="つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書"
---

<Layout title={title} desc={desc}>
  <main>
    <div class="fv">
      <div class="image">
        <Image src={astroImage} alt="" />
      </div>
      <LowerFv title={title} desc={desc}/>
    </div>
  </main>
</Layout>

<style lang="scss">
  .image{
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
  }
</style>
